* {
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: rgb(107, 145, 216);
}
.Sirius {
    height: 250px;
    width: 250px;
    border: 10px solid black; 
}
.Fill-in {
    background-color: rgb(197, 21, 21);
    border: 10  blue;
    padding
}



